<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinoteca</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/icons8-vino-y-copa-64.png" type="image/x-icon">
</head>
<body>
  <header>
    <h1>{{ titulo }} 🍷</h1>
    <nav>
      <ul style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <li>{{subtitulo1}}</li>
        <li>{{subtitulo2}}</li>
        <li>{{subtitulo3}}</li>
      </ul>
    </nav>
  </header>

  {% block contenido %}
  
  {% endblock contenido %} 
   
  <footer>
    El presente trabajo se hizo en el marco del Trabajo Final Integrador de la asignatura Programación II de la Tecnicatura Universitaria en Desarrollo Web de la Facultad de Ciencias de la Administración de la Universidad Nacional de Entre Ríos.
    <br>
    Se utilizó Simple.css, de Kev Quirk, bajo la licencia MIT, como hoja de estilo principal, con algunas modificaciones.
  </footer>
  <figure>
   
</body>
</html>