<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinoteca</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/icons8-vino-y-copa-64.png" type="image/x-icon">
</head>
<body>
    <h1>{{ titulo }}</h1>
    <h2>{{ subtitulo1 }}</h2>
    <ol>
      {% for d,u in recursos_solicitados %}
        <li style="text-align: justify;">{{ d }}<br><br><a href="{{ u }}">{{ u }}</a></li><br>
      {% endfor %}
    </ol> 
    <h2>{{ subtitulo2 }}</h2>
    <ol>
      {% for d,u in otros_recursos %}
        <li style="text-align: justify;">{{ d }}<br><br><a href="{{ u }}">{{ u }}</a></li><br>
      {% endfor %}
    </ol> 
</body>
</html>